.bg {
    background: url('../Assets/landing%20image.png') no-repeat center center ;
    position: fixed;
    margin-bottom: 0px;
    width: 100%;
    height: 60vh; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
}

.jumbotron {
    margin-top: 100px;
    margin-bottom: 0px;
    height:60vh;
    color: white;
    background:transparent;
    text-align: center;
    background:transparent;
}

.btn-space {
    margin: 30px;
}

.btn-default,.btn-primary,.btn-success,.btn-info,.btn-warning,.btn-danger {
    border-radius:23px;
}